body{
  background-color: black;
}
.navbar-expand-lg .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link{
  color:white;
  text-align: none;
  text-decoration: none;
  

}
.nav-li{
 margin-right:80px !important;
}
.nav-lin{
  margin-right:50px !important;
}

.nav-link:hover{
  color:green !important;
}

.hero_image{
  height:100%;
  width:100%;
}
.project_image{
  height:100%;
  width:87%;
}

.project_1{
  padding-top:8%;
  
}


h2{
  color:white;
  font-size: 3rem;
  padding-left:8%;
}

p{
  color:white;
  font-size:18px;
  padding-left:8%;
  padding-top:4%;
}

.form-control{
  width:40%;
  margin-left:37px;
}

@media only screen and (max-width: 1000px) {
  #project_1 {
    text-align:center;
  
}
  h2{
    font-size:2rem;
    padding-left:0%;
  }
  p{
    color:white;
    font-size:18px;
    padding-left:0%;
    padding-top:4%;
  }
  .form-control{
    margin:auto;
    text-align:center;
    
  }
}
.footer{
  text-align:center;
  padding-top:4%;
}





